.table {
  font-size: 12px;
  width: 100%;

  &-header, &-row {
    display: flex;
    justify-content: flex-start;
    
  }

  &-row {
    cursor: pointer;
  }

  &-row:hover {
    background-color: #a1a1f7;
  }

  &-column {
    padding: 6px;
    min-width: 200px;
  }

  &-header {
    color: #4646f6;
    font-weight: 500;
    font-size: 14px;    
  }
}