.table {
  font-size: 12px;
  width: 100%;
  &-row {
    display: flex;
    justify-content: flex-start;
    
  }

  &-column {
    padding: 6px;
    min-width: 200px;
  }

  .header {
    color: red($color: #4646f6);
    font-weight: 500;
    font-size: 14px;

    
  }
}